.menu {
    min-height: 80vh;
    border-right: 1px grey solid;
    width: 280px;

    a {
        border-radius: 10px;

        &:hover {

            background-color: rgb(86, 86, 86);
        }
    }

    a.active {

        background-color: rgb(159, 159, 159);
    }
}